<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Avalonia" version="0.4.1-build2063-alpha" targetFramework="net45" />
  <package id="Serilog" version="2.3.0-dev-00707" targetFramework="net45" />
  <package id="Splat" version="1.6.2" targetFramework="net45" />
  <package id="Sprache" version="2.1.1-develop-00011" targetFramework="net45" />
  <package id="System.Reactive" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.Core" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.Interfaces" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.Linq" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.PlatformServices" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.Windows.Threading" version="3.0.0" targetFramework="net45" />
</packages>